asyncpg
fastapi
httpx
langchain-core
langchain-text-splitters
openai
pgvector
pwdlib
pydantic-settings
PyJWT
PyMuPDF
pymupdf4llm
python-docx
python-dotenv
python-multipart
sentence-transformers
tiktoken
transformers
uvicorn
